<!DOCTYPE html>
<html>
  <head>
    <title>Covernet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <ul id="slide-out" class="sidenav sidenav-fixed">
      <div class="identity">
        <h4>Covernet Billing Portal</h4>
        <p>Logged in as Admin</p>
      </div>
      <li><a href="#!">Dashboard</a></li>
      <li><a onclick="list()" >Policy Covers</a>
        <ul id="list" class="sub" style="display: none;">
          <li> <a onclick="motor()">Motor Policies</a> </li>
          <li> <a onclick="health()">Health Policies</a> </li>
          <li> <a onclick="general()">General Policies</a> </li>
          <li> <a onclick="life()">Life Policies</a> </li>
          <li> <a onclick="education()">Education Policies</a> </li>
        </ul>
      </li>
    </ul>

  <body class="main">
      <%= yield %>
  </body>
</html>
