<!DOCTYPE html>
<html>
  <head>
    <title>Billing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <ul id="slide-out" class="sidenav sidenav-fixed">
      <li><a href="#!">Dashboard</a></li>
      <li><a onclick="list()" >Revenue</a>
        <ul id="list" class="sub" style="display: none;">
          <li> <a onclick="sbp()">Business Permit</a> </li>
          <li> <a onclick="landrates()">Land Rates</a> </li>
          <li> <a onclick="advertising()">Outdoor Advertising</a> </li>
          <li> <a onclick="loadingz()">Loading Zones</a> </li>
        </ul>
      </li>
    </ul>

  <body class="main">
      <%= yield %>
  </body>
</html>
